.container{
    position: relative;
}

.user--info{
    position: fixed;
    box-sizing: border-box;
    top: 489px;
    left: 487px;
    width: 809px;
    height: 229px;
    background: #000;
    z-index: 5;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 21px;
}

.info--delete--btn{
    position: absolute;
    text-align: center;
    top: 11px;
    left: 763px;
    width: 35px;
    height: 35px;
    z-index: 7;
    background: red;
    font-size: 28px;
    cursor: pointer;
}
.options--field{
    position: fixed;
    padding: 10px;
    top: 254px;
    left: 500px;
    width: 784px;
    height: 120px;
    background: #00a0f6;
    z-index: 8;
}

.status--btn:active{
    background: #f6e600;
}
/*.active{*/
/*    */
/*}*/
/*.active*/


.apply--button{
    margin-left: 364px;
    margin-top: 22px;
    width: 100px;
    height: 50px;
}

.delete--field{
    position: fixed;
    box-sizing: border-box;
    top: 300px;
    left: 487px;
    width: 809px;
    height: 186px;
    background: #c97575;
    z-index: 5;
    text-align: center;
    padding: 10px;
    font-size: 40px;
}
.delete--user--button--yes{
    margin-left: 6px;
    margin-top: 22px;
    width: 100px;
    height: 50px;
}

.delete--user--button--no{
    margin-left: 364px;
    margin-top: 22px;
    width: 100px;
    height: 50px;
}

.header{
    margin: 0 auto;
    width: 1500px;
    position: relative;
    background: #fff;
    border: #00a0f6 2px solid;
    height: 100px;
}


.name{
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 150px;
}

.arrow--down--name{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 211px;
}

.arrow--up--name{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 211px;
}


.email{
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 680px;
}

.arrow--down--email{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 741px;
}

.arrow--up--email{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 741px;
}

.status{
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 1140px;
}

.arrow--down--status{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 1204px;
}

.arrow--up--status{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 1204px;
}

.new--user--button{
    position: absolute;
    top: 23px;
    right: 54px;
    width: 152px;
    height: 50px;
    background: #0070f6;
    color: white;
    padding-top: 5px;
    cursor: pointer;
}

.new--user--button:active{
    background: #fff;
    color: #0070f6;
}

.wrapper{
    margin: 0 auto;
    width: 1600px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}




.card{
    position: relative;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    margin: 10px 0;
    background: #fff;
    border: #ff9794 1px solid;
    height: 100px;
}

.card--button{
    position: absolute;
    width: 1400px;
    height: 100px;
    background: none;
    cursor: pointer;
}

img{
    position: absolute;
    top: 5px;
    left: 30px;
    width: 90px;
    height: 90px;
}

.userName{
    position: absolute;
    top: 40px;
    left: 150px;
}

.userPhone{
    position: absolute;
    top: 40px;
    left: 350px;
}

.userEmail{
    position: absolute;
    top: 40px;
    left: 680px;
}

.userStatus{
    position: absolute;
    top: 40px;
    left: 1166px;
}

.options {
    position: absolute;
    top:10px;
    left: 1430px;
    width: 50px;
    height: 50px;
    background: chartreuse;
    cursor: pointer;

}
.options:active{
    background: #f6ef00;
}

.delete--user{
    position: absolute;
    top:10px;
    left: 1524px;
    width: 62px;
    height: 50px;
    background: #f60003;
    padding: 0;
    cursor: pointer;
}




