.container{
    position: relative;
}

.options--field{
    position: fixed;
    box-sizing: border-box;
    top: 288px;
    left: 601px;
    width: 809px;
    height: 255px;
    background: #000;
    z-index: 5;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 21px;
}
.info--delete--btn{
    position: absolute;
    top: 12px;
    left: 759px;
    width: 35px;
    height: 35px;
    z-index: 7;
    background: red;
    font-size: 28px;
    text-align: center;
}

.header{
    margin: 0 auto;
    width: 1500px;
    position: relative;
    background: #fff;
    border: #00a0f6 2px solid;
    height: 100px;
}


.name{
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 150px;
}

.arrow--down--name{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 211px;
}

.arrow--up--name{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 211px;
}


.email{
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 680px;
}

.arrow--down--email{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 741px;
}

.arrow--up--email{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 741px;
}

.status{
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 1140px;
}

.arrow--down--status{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 1204px;
}

.arrow--up--status{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    left: 1204px;
}

.wrapper{
    margin: 0 auto;
    width: 1600px;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}




.card{
    position: relative;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    margin: 10px 0;
    background: #fff;
    border: #ff9794 1px solid;
    height: 100px;
}

img{
    position: absolute;
    top: 5px;
    left: 30px;
    width: 90px;
    height: 90px;
}

.userName{
    position: absolute;
    top: 40px;
    left: 150px;
}

.userPhone{
    position: absolute;
    top: 40px;
    left: 350px;
}

.userEmail{
    position: absolute;
    top: 40px;
    left: 680px;
}

.userStatus{
    position: absolute;
    top: 40px;
    left: 1190px;
}

.options {
    position: absolute;
    top: 0;
    left: 1430px;
    width: 50px;
    height: 50px;
    background: #f60003;
}
.options:active{
    background: chartreuse;
}



.user--info{
    position: absolute;
    top: 40px;
    left: 500px;
    width: 300px;
    height: 600px;
    background: #00a0f6;
    z-index: 99;
}
